body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #87CEFA;
}

#logo {
    width: 100px;
}

h1 {
    font-size: 2.5em;
}

section {
    margin: 20px;
    padding: 10px;
    background-color: #f0f8ff;
    border-radius: 8px;
}

.swiper-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: 200px;
}

.swipe-img {
    display: none;
    max-width: 100%;
    max-height: 100%;
}

.swipe-img:first-of-type {
    display: block;
}

.actions {
    text-align: center;
    margin-top: 10px;
}

.actions button {
    font-size: 1.5em;
    background-color: #87CEFA;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#trainer-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#trainer-table th, #trainer-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #87CEFA;
}

footer {
    background-color: #87CEFA;
    text-align: center;
    padding: 20px;
}

footer h3 {
    margin-top: 0;
}
